%li
  %a.pic.fl{href: "#"}
    = image_tag result.user.avatar_url
  %p.fl
    %span.hui [创意廊]
    %a.tit{href: "#"}
      = result.name
    %span.words
      = result.content
    %span.info
      来自用户：
      = result.user.username