%footer#footer
  .footer-map
    %a{:href => "#"} 关于玩艺儿
    |
    %a{:href => "#"} 联系我们
    |
    %a{:href => "#"} 签约艺人
    |
    %a{:href => "#"} 我要开店
    |
    %a{:href => "#"} 免责声明
    |
    %a{:href => "#"} 隐私声明
    |
    %a{:href => "#"} 帮助中心
    |
    %a{:href => "#"} 网站地图
  .copyright Copyright©2013--2016 玩艺儿网 版权所有 沪ICP备13037574号