#sitemap
  .layout990.clearfix
    %dl
      %dt 帮助中心
      %dd
        %a{:href => "#"} 关于退款
      %dd
        %a{:href => "#"} 关于延迟发货
      %dd
        %a{:href => "#"} 如何参加在线竞拍
      %dd
        %a{:href => "#"} 为什么是竞拍流程
      %dd
        %a{:href => "#"} 什么是竞拍延迟
    %dl
      %dt 支付方式
      %dd
        %a{:href => "#"} 快捷支付
      %dd
        %a{:href => "#"} 网银支付
      %dd
        %a{:href => "#"} 大额支付
    %dl
      %dt 拍卖管理
      %dd
        %a{:href => "#"} 买家违约处理
      %dd
        %a{:href => "#"} 拍卖保证金收取标准
      %dd
        %a{:href => "#"} 拍卖规则
      %dd
        %a{:href => "#"} 玩艺儿网竞拍协议
      %dd
        %a{:href => "#"} 担保交易
      %dd
        %a{:href => "#"} 退换货规则
    %dl
      %dt 用户须知
      %dd
        %a{:href => "#"} 版权说明
      %dd
        %a{:href => "#"} 免责声明
      %dd
        %a{:href => "#"} 隐私权保护
    %dl.phone-email
      %dt 联系方式
      %dd.phone.gray6
        %span.glyphicon.glyphicon-phone-alt
        %em 咨询电话：021-00000000
      %dd.email.gray6
        %span.glyphicon.glyphicon-envelope
        %em 邮箱：admin@gart360.com