- content_for :subhead do
  = render 'sns/shared/header/user'

.wrap.home
  .container.cf
    .col-main.ls
      .filter.cf
        .cf
          %span 标签：
          %a.cur{:href => "#"} 全部
          %a{:href => "#"} 画家
          %a{:href => "#"} 手工艺
          %a{:href => "#"} 摄影
      %h3.site.site2 热门创世廊
      %section
        %dl.opus
          %dd
            %a.pic{:href => "#"}
              %img{:src => "/assets/sns/pic-temp/1.png"}/
            %ul.piclist
              %li
                %a{:href => "#"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
              %li
                %a{:href => "#"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
              %li.zp-count
                .muns
                  %a{:href => "#"}
                    %span 394
                    作品
            .zb-info
              %a{:href => "#"} 小清新的玩艺儿 廊
              %span.fr 西米的橱窗
          %dd
            %a.pic{:href => "#"}
              %img{:src => "/assets/sns/pic-temp/1.png"}/
            %ul.piclist
              %li
                %a{:href => "#"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
              %li
                %a{:href => "#"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
              %li.zp-count
                .muns
                  %a{:href => "#"}
                    %span 394
                    作品
            .zb-info
              %a{:href => "#"} 小清新的玩艺儿 廊
              %span.fr 西米的橱窗
          %dd
            %a.pic{:href => "#"}
              %img{:src => "/assets/sns/pic-temp/1.png"}/
            %ul.piclist
              %li
                %a{:href => "#"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
              %li
                %a{:href => "#"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
              %li.zp-count
                .muns
                  %a{:href => "#"}
                    %span 394
                    作品
            .zb-info
              %a{:href => "#"} 小清新的玩艺儿 廊
              %span.fr 西米的橱窗
      %h3.site.site2 热门发布会
      %ul.list.cf
        %li
          %a.pic{:href => "#"}
            %img{:src => "/assets/sns/pic-temp/1.png"}/
          %strong.num 士大夫似的
          %span.date 开始时间：2012-12-12
          %a.userpic.fl{:href => "#", :title => "七彩的幸福"}
            %img{:alt => "七彩的幸福", :height => "36", :src => "/assets/sns/pic-temp/1.png", :width => "36"}/
        %li
          %a.pic{:href => "#"}
            %img{:src => "/assets/sns/pic-temp/2.png"}/
          %strong.num 而非ads
          %span.date 开始时间：2012-12-12
          %a.userpic.fl{:href => "#", :title => "七彩的幸福"}
            %img{:alt => "七彩的幸福", :height => "36", :src => "/assets/sns/pic-temp/1.png", :width => "36"}/
        %li
          %a.pic{:href => "#"}
            %img{:src => "/assets/sns/pic-temp/1.png"}/
          %strong.num 案发生
          %span.date 开始时间：2012-12-12
          %a.userpic.fl{:href => "#", :title => "七彩的幸福"}
            %img{:alt => "七彩的幸福", :height => "36", :src => "/assets/sns/pic-temp/1.png", :width => "36"}/
      %h3.site.site2 热门话题
      .group
        .g-topic
          %ul
            %li
              .topic-body
                .vote
                  %a{:href => "#"} 1233
                  %p 回应
                .topic-cont
                  %h3
                    %a{:href => "#"} 极简主义如何帮我克服了拖延症
                  .summery
                    %img{:src => "/assets/sns/pic-temp/2.png"}
                      什么是理财 一般人谈到理财，想到的不是投资，就是赚钱。实际上理财的范围很广，理财是理一生的财，也就是个人一生的现金流量与风险管理。包含以下涵义：① 理财是理一生的财，不是解决燃眉之急的金钱问题而已。
                .topic-info
                  %span.time 2小时前
                  %span.from
                    来自
                    %a{:href => "#"} 极简主义
                    小组
            %li
              .topic-body
                .vote
                  %a{:href => "#"} 1233
                  %p 回应
                .topic-cont
                  %h3
                    %a{:href => "#"} 极简主义如何帮我克服了拖延症
                  .summery
                    什么是理财 一般人谈到理财，想到的不是投资，就是赚钱。实际上理财的范围很广，理财是理一生的财，也就是个人一生的现金流量与风险管理。包含以下涵义：① 理财是理一生的财，不是解决燃眉之急的金钱问题而已。
                .topic-info
                  %span.time 2小时前
                  %span.from
                    来自
                    %a{:href => "#"} 极简主义
                    小组
            %li
              .topic-body
                .vote
                  %a{:href => "#"} 1233
                  %p 回应
                .topic-cont
                  %h3
                    %a{:href => "#"} 极简主义如何帮我克服了拖延症
                  .summery
                    %img{:src => "/assets/sns/pic-temp/2.png"}
                      什么是理财 一般人谈到理财，想到的不是投资，就是赚钱。实际上理财的范围很广，理财是理一生的财，也就是个人一生的现金流量与风险管理。包含以下涵义：① 理财是理一生的财，不是解决燃眉之急的金钱问题而已。
                .topic-info
                  %span.time 2小时前
                  %span.from
                    来自
                    %a{:href => "#"} 极简主义
                    小组
            %li
              .topic-body
                .vote
                  %a{:href => "#"} 1233
                  %p 回应
                .topic-cont
                  %h3
                    %a{:href => "#"} 极简主义如何帮我克服了拖延症
                  .summery
                    %img{:src => "/assets/sns/pic-temp/2.png"}
                      什么是理财 一般人谈到理财，想到的不是投资，就是赚钱。实际上理财的范围很广，理财是理一生的财，也就是个人一生的现金流量与风险管理。包含以下涵义：① 理财是理一生的财，不是解决燃眉之急的金钱问题而已。
                .topic-info
                  %span.time 2小时前
                  %span.from
                    来自
                    %a{:href => "#"} 极简主义
                    小组
            %li
              .topic-body
                .vote
                  %a{:href => "#"} 1233
                  %p 回应
                .topic-cont
                  %h3
                    %a{:href => "#"} 极简主义如何帮我克服了拖延症
                  .summery
                    %img{:src => "/assets/sns/pic-temp/2.png"}
                      什么是理财 一般人谈到理财，想到的不是投资，就是赚钱。实际上理财的范围很广，理财是理一生的财，也就是个人一生的现金流量与风险管理。包含以下涵义：① 理财是理一生的财，不是解决燃眉之急的金钱问题而已。
                .topic-info
                  %span.time 2小时前
                  %span.from
                    来自
                    %a{:href => "#"} 极简主义
                    小组
    %aside.col-sub
      .lang-info
        / 热门艺术家
        %dl.recomm
          %dt.aside-info
            %b.fl 热门成员
            %a.fr.icon.icon-refresh{:href => "#"} 换一换
          %dd.userinfo
            %a.userpic.fl{:href => "#"}
              %img{:src => "/assets/sns/pic-temp/1.png"}/
            %p
              %a.name{:href => "#"} 午后的
              %br
                %input.button.button-rounded.button-flat-highlight{:type => "button", :value => "+关注"}
            %span.str
              %em>
              生活其实可以很简单，艺术源于生活
          %dd.userinfo
            %a.userpic.fl{:href => "#"}
              %img{:src => "/assets/sns/pic-temp/2.png"}/
            %p
              %a.name{:href => "#"} 午后的
              %br
                %input.button.button-rounded.button-flat-highlight{:type => "button", :value => "+关注"}
            %span.str
              %em>
              生活其实可以很简单，艺术源于生活
          %dd.userinfo
            %a.userpic.fl{:href => "#"}
              %img{:src => "/assets/sns/pic-temp/1.png"}/
            %p
              %a.name{:href => "#"} 午后的
              %br
                %input.button.button-rounded.button-flat-highlight{:type => "button", :value => "+关注"}
            %span.str
              %em>
              生活其实可以很简单，艺术源于生活
        / 可能喜欢的作品
        .aside-lists
          %span.aside-info
            %b.fl 热门小组
            %a.fr.icon.icon-refresh{:href => "#"} 换一换
          %ul
            %li.userinfo
              %a.userpic.fl.userpic-nobd{:href => "#"}
                %img{:src => "/assets/sns/pic-temp/1.png"}/
              %p
                %a.name{:href => "#"} 油画创作灵感
                %br
                  %span.from 10968人加入
                  %span.desc
                    低头行路也别忘了仰望星空...
            %li.userinfo
              %a.userpic.fl.userpic-nobd{:href => "#"}
                %img{:src => "/assets/sns/pic-temp/1.png"}/
              %p
                %a.name{:href => "#"} 油画创作灵感
                %br
                  %span.from 10968人加入
                  %span.desc
                    低头行路也别忘了仰望星空...
            %li.userinfo
              %a.userpic.fl.userpic-nobd{:href => "#"}
                %img{:src => "/assets/sns/pic-temp/1.png"}/
              %p
                %a.name{:href => "#"} 油画创作灵感
                %br
                  %span.from 10968人加入
                  %span.desc
                    低头行路也别忘了仰望星空...
  .bg