<ul class="login-open fr">
    <li>使用合作账号登录</li>
    <li><a class="icon icon-qq" href="#">QQ</a></li>
    <li><a class="icon icon-weibo" href="#">微博</a></li>
    <li><a class="icon icon-douban" href="#">豆瓣</a></li>
</ul>