.layout990
  .tabulation
    %ul.list-unstyled.clearfix
      %li
        %a.active{:href => "#"} 陶瓷
      %li
        %a{:href => "#"} 油画
      %li
        %a{:href => "#"} 雕塑
      %li
        %a{:href => "#"} 书法
      %li
        %a{:href => "#"} 艺术家饰
      %li
        %a{:href => "#"} 陶瓷
      %li
        %a{:href => "#"} 油画
      %li
        %a{:href => "#"} 雕刻
      %li
        %a{:href => "#"} 木雕
      %li
        %a{:href => "#"} 石雕
  .zero-classify
    %ul.list-inline
      %li.classify 作品风格
      %li
        %a{:href => "#"} 风格A
      %li
        %a{:href => "#"} 风格B
      %li
        %a{:href => "#"} 风格C
      %li
        %a{:href => "#"} 风格D
      %li
        %a{:href => "#"} 风格A
    %ul.list-inline
      %li.classify 艺术家
      %li
        %a{:href => "#"} 艺术家A
      %li
        %a{:href => "#"} 艺术家B
      %li
        %a{:href => "#"} 艺术家C
      %li
        %a{:href => "#"} 艺术家D
    %ul.list-inline
      %li.classify 地域
      %li
        %a{:href => "#"} 华东
      %li
        %a{:href => "#"} 华北
      %li
        %a{:href => "#"} 华南
      %li
        %a{:href => "#"} 东北
    %ul.list-inline
      %li.classify 主题
      %li
        %a{:href => "#"} 节日
      %li
        %a{:href => "#"} 纪念日
    %ul.list-inline
      %li.classify 状态
      %li
        %a{:href => "#"} 竞拍中
      %li
        %a{:href => "#"} 预展
      %li
        %a{:href => "#"} 已成交
  .clearfix.special-tabs
    %p.left 相关拍品（124）
    %section.special_sort.right
      排序：
      %span.label.label-primary.label-default 起拍时间
      %span.label.label-primary 起拍价↓
      %span.label.label-primary 当前价↑
  .zero-con
    .auction-list.clearfix
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo1.png"}
              %span.label.label-warning 正在竞拍
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo2.png"}
              %span.label.label-info 即将竞拍
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo3.jpg"}
              %span.label.label-info 即将竞拍
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo4.jpg"}
              %span.label.label-default 已结束
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo4.jpg"}
              %span.label.label-default 已结束
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo4.jpg"}
              %span.label.label-default 已结束
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo4.jpg"}
              %span.label.label-default 已结束
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo4.jpg"}
              %span.label.label-default 已结束
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo4.jpg"}
              %span.label.label-default 已结束
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒
      .item
        .cover
          %a{:href => "#"}
            %img{:alt => "产品1", :src => "images/demo4.jpg"}
              %span.label.label-default 已结束
        .meta-info
          %h3
            %a.gray3{:href => "#"} 精雕细琢和田羊脂白玉山子雕摆件
          %p.price
            当前价格：
            %span.orange ￥2066
            %span.s1 |
            0次出价
          %p.time
            %span.glyphicon.glyphicon-time>
            距结束：3小时 56分 12秒