- content_for :subhead do
  = render 'sns/shared/header/user'

.wrap.home
  .container.cf
    .col-main
      = render 'profile_nav'
      .lang-nav
        %a{:href => "#"} 收藏的商品
        %span |
        %a.cur{:href => "#"} 收藏的作品
      %section.newsfeed
        %dl
          %dt
            %a.userpic{:href => "#", :title => "七彩的幸福"}
              %img{:alt => "七彩的幸福", :height => "60", :src => "/assets/sns/pic-temp/1.png", :width => "60"}/
            %h3
              %a{:href => "#"} RH Loft 北欧美式乡村复古古铜六面体吊灯 小铺
            %p
              %a{:href => "#", :title => "几米的吉他"} 几米的吉他
              %span 的小铺
            %span 店铺有介绍之前公司里有用过些灯，很喜欢。现在便宜了一百多，喜欢的可以考虑入手了。
          %dd.newsfeed-cont
            / 图片列表
            %ul
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
          %dd.newsfeed-info
            %span.fav 收藏124
            %span.favtime
              2013-11-15 00:06
        %dl
          %dt
            %a.userpic{:href => "#", :title => "七彩的幸福"}
              %img{:alt => "七彩的幸福", :height => "60", :src => "/assets/sns/pic-temp/1.png", :width => "60"}/
            %h3
              %a{:href => "#"} RH Loft 北欧美式乡村复古古铜六面体吊灯 小铺
            %p
              %a{:href => "#", :title => "几米的吉他"} 几米的吉他
              %span 的小铺
            %span 店铺有介绍之前公司里有用过些灯，很喜欢。现在便宜了一百多，喜欢的可以考虑入手了。
          %dd.newsfeed-cont
            / 图片列表
            %ul
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
          %dd.newsfeed-info
            %span.fav 收藏124
            %span.favtime
              2013-11-15 00:06
        %dl
          %dt
            %a.userpic{:href => "#", :title => "七彩的幸福"}
              %img{:alt => "七彩的幸福", :height => "60", :src => "/assets/sns/pic-temp/1.png", :width => "60"}/
            %h3
              %a{:href => "#"} RH Loft 北欧美式乡村复古古铜六面体吊灯 小铺
            %p
              %a{:href => "#", :title => "几米的吉他"} 几米的吉他
              %span 的小铺
            %span 店铺有介绍之前公司里有用过些灯，很喜欢。现在便宜了一百多，喜欢的可以考虑入手了。
          %dd.newsfeed-cont
            / 图片列表
            %ul
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
          %dd.newsfeed-info
            %span.fav 收藏124
            %span.favtime
              2013-11-15 00:06
        %dl
          %dt
            %a.userpic{:href => "#", :title => "七彩的幸福"}
              %img{:alt => "七彩的幸福", :height => "60", :src => "/assets/sns/pic-temp/1.png", :width => "60"}/
            %h3
              %a{:href => "#"} RH Loft 北欧美式乡村复古古铜六面体吊灯 小铺
            %p
              %a{:href => "#", :title => "几米的吉他"} 几米的吉他
              %span 的小铺
            %span 店铺有介绍之前公司里有用过些灯，很喜欢。现在便宜了一百多，喜欢的可以考虑入手了。
          %dd.newsfeed-cont
            / 图片列表
            %ul
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
              %li
                %a{:href => "#", :title => "商品图片"}
                  %img{:src => "/assets/sns/pic-temp/1.png"}/
                %p
                  %a{:href => "#"} 北欧美式复古古铜门面体吊灯...
          %dd.newsfeed-info
            %span.fav 收藏124
            %span.favtime
              2013-11-15 00:06
        .page
          %span 上一页
          %a.cur{:href => "#"} 1
          %a{:href => "#"} 2
          %a{:href => "#"} 3
          %a{:href => "#"} 4
          %span ...
          %a{:href => "#"} 19
          %a{:href => "#"} 20
          %a{:href => "#"} 下一页
    %aside.col-sub
      .myshop
        %a{:href => "#"} 我的小铺>>
  .bg