<footer>
    <div class="container">
        <a href="http://www.gart360.com/Help/page/6">关于玩艺儿</a> | 
        <a href="http://www.gart360.com/Help/page/7">联系我们</a> | 
        <a href="http://www.gart360.com/Artist">签约艺人</a> | 
        <a href="#">我要开店</a> | 
        <a href="http://www.gart360.com/Help/page/25">免责声明</a> | 
        <a href="http://www.gart360.com/Help/page/11">隐私声明</a> | 
        <a href="http://www.gart360.com/Help/page/6">帮助中心</a> | 
        <a href="http://www.gart360.com/sitemap">网站地图</a>
        <p>Copyright©2013--2016 玩艺儿网 版权所有 沪ICP备 13037574号</p>
    </div>
</footer>