%dl.recomm
  %dt.aside-info
    %b.fl 热门艺术家
    %a.fr.icon.icon-refresh{:href => "#"} 换一换
  %dd.userinfo
    %a.userpic.fl{:href => "#"}
      %img{:src => "/assets/sns/pic-temp/1.png"}/
    %p
      %a.name{:href => "#"} 午后的
      %br
        %input.button.button-rounded.button-flat-highlight{:type => "button", :value => "+关注"}
    %span.str
      %em>
      生活其实可以很简单，艺术源于生活
  %dd.userinfo
    %a.userpic.fl{:href => "#"}
      %img{:src => "/assets/sns/pic-temp/2.png"}/
    %p
      %a.name{:href => "#"} 午后的
      %br
        %input.button.button-rounded.button-flat-highlight{:type => "button", :value => "+关注"}
    %span.str
      %em>
      生活其实可以很简单，艺术源于生活
  %dd.userinfo
    %a.userpic.fl{:href => "#"}
      %img{:src => "/assets/sns/pic-temp/1.png"}/
    %p
      %a.name{:href => "#"} 午后的
      %br
        %input.button.button-rounded.button-flat-highlight{:type => "button", :value => "+关注"}
    %span.str
      %em>
      生活其实可以很简单，艺术源于生活