%li
  %a.pic.fl{href: "#"}
    = image_tag result.group.logo_url
  %p.fl
    %span.hui [话题]
    %a.tit{href: "#"}
      = result.title
    %span.words
      = result.body
    %span.info
      来自用户：
      = result.group.name