- @descriptions.real.each do |description|
  .form-group
    %label.col-sm-3.text-right 我的描述：
    .col-sm-9
      .my_describe
        %p= description.body
        %p.gray6= l description.created_at
  - if description.response
    .form-group
      %label.col-sm-3.text-right 客服回复：
      .col-sm-9
        .my_describe
          %p= description.response
          %p.gray6= l description.created_at