.form-group-select2 {
  .form-control {
    border: 0 !important;
  }

  .col-sm-10 { float: left; margin-right: 20px; }

  &.text .col-sm-10 { width: 190px; }

  .select2-container .select2-choice { height: 30px; }
  .select2-container .select2-choice .select2-arrow b { background-size: 60px 50px !important; }
}

form.artwork-form {
  .upload-pic {
    padding-bottom: 0 !important;
  }

  .action {
    margin-top: 20px;
  }
}

a.black {
  color: #000 !important;
  &:hover { color: #FC8611 !important; }
}

a.crumb-gray {
  color: #999 !important;
  &:hover { color: #FC8611 !important; }
}