= f.input :name, as: :select, collection: [["尺寸", :size], ["主题", :subject], ["形式", :shape]], prompt: false, input_html: { class: 'select2-option' }, wrapper_class: 'select_width'
= f.input :value, as: :text