= f.input :name, wrapper: false,
                 label: false

= f.input :artwork_name, wrapper: false,
                         label: false

= f.input :year, wrapper: false,
                 label: false

= f.input :city_name, wrapper: false,
                      label: false
