%aside.col-sub
  = link_to new_sns_event_path, class: 'btn btn-default btn-block btn-create-group' do
    %i.fa.fa-picture-o
    创建我的发布会

  %dl.recomm.weimsg-list
    %dt.aside-info
      %b.fl 发布会最新吐槽
    %dd.weimsg
      %a.userpic{:href => "#"}
        %img{:src => "/assets/sns/pic-temp/1.png"}/
      %p
        %a.name.fl{:href => "#"} 午后的
        %span.date.fr 刚刚
        %span.words
          【我们就爱晒】#2013年我败过最高大上的宝贝# 晒晒2013年吃货猫的两个大单！
    %dd.weimsg
      %a.userpic{:href => "#"}
        %img{:src => "/assets/sns/pic-temp/1.png"}/
      %p
        %a.name.fl{:href => "#"} 午后的
        %span.date.fr 刚刚
        %span.words
          【我们就爱晒】#2013年我败过最高大上的宝贝# 晒晒2013年吃货猫的两个大单！
    %dd.weimsg
      %a.userpic{:href => "#"}
        %img{:src => "/assets/sns/pic-temp/1.png"}/
      %p
        %a.name.fl{:href => "#"} 午后的
        %span.date.fr 刚刚
        %span.words
          【我们就爱晒】#2013年我败过最高大上的宝贝# 晒晒2013年吃货猫的
    %dd.weimsg
      %a.userpic{:href => "#"}
        %img{:src => "/assets/sns/pic-temp/1.png"}/
      %p
        %a.name.fl{:href => "#"} 午后的
        %span.date.fr 刚刚
        %span.words
          【我们就爱晒】#2013年我败过最高大上的宝贝# 晒晒2013年吃货猫的两个大单！
  / 感兴趣的人
  %dl.recomm
    %dt.aside-info
      %b.fl 发布会活跃艺术家
      %a.fr.icon.icon-refresh{:href => "#"} 换一换
    %dd.userinfo
      %a.userpic.fl{:href => "#"}
        %img{:src => "/assets/sns/pic-temp/1.png"}/
      %p
        %a.name{:href => "#"} 午后的
        %br/
        %input.button.button-rounded.button-flat-highlight{:type => "button", :value => "+关注"}/
      .cf.cf-space
      %span.lang.span
        %a{:href => "#"} 廊
        %b 5
      %span.span
        %a{:href => "#"} 作品
        %b 12
      %span.span
        %a{:href => "#"} 发布会
        %b 39
    %dd.userinfo
      %a.userpic.fl{:href => "#"}
        %img{:src => "/assets/sns/pic-temp/2.png"}/
      %p
        %a.name{:href => "#"} 午后的
        %br/
        %input.button.button-rounded.button-flat-highlight{:type => "button", :value => "+关注"}/
      .cf.cf-space
      %span.lang.span
        %a{:href => "#"} 廊
        %b 5
      %span.span
        %a{:href => "#"} 作品
        %b 12
      %span.span
        %a{:href => "#"} 发布会
        %b 39
    %dd.userinfo
      %a.userpic.fl{:href => "#"}
        %img{:src => "/assets/sns/pic-temp/1.png"}/
      %p
        %a.name{:href => "#"} 午后的
        %br/
        %input.button.button-rounded.button-flat-highlight{:type => "button", :value => "+关注"}/
      .cf.cf-space
      %span.lang.span
        %a{:href => "#"} 廊
        %b 5
      %span.span
        %a{:href => "#"} 作品
        %b 12
      %span.span
        %a{:href => "#"} 发布会
        %b 39
  / 即将举办的发布会
  .aside-lists
    %span.aside-info
      %b.fl 热门作品
      %a.fr.icon.icon-refresh{:href => "#"} 换一换
    %ul
      %li.userinfo
        %a.userpic.fl.userpic-nobd{:href => "#"}
          %img{:src => "/assets/sns/pic-temp/1.png"}/
        %p
          %a.name{:href => "#"} 午后的
          %br/
          %span.intro 清和堂成立于2009年，主要从事雕塑制作·以及陶艺成型……
          %span.from
            来自&nbsp;&nbsp;
            %a{:href => "#"}> 新摄影
            \&nbsp;&nbsp;的手工艺廊
          %a.icon.icon-liked{:href => "#"} 1023
      %li.userinfo
        %a.userpic.fl.userpic-nobd{:href => "#"}
          %img{:src => "/assets/sns/pic-temp/1.png"}/
        %p
          %a.name{:href => "#"} 午后的
          %br/
          %span.intro 清和堂成立于2009年，主要从事雕塑制作·以及陶艺成型……
          %span.from
            来自&nbsp;&nbsp;
            %a{:href => "#"}> 新摄影
            \&nbsp;&nbsp;的手工艺廊
          %a.icon.icon-liked{:href => "#"} 1023