%form{:action => "/sns/search"}
  %input.icon.search{:autocomplete => "off", :maxlength => "10", :placeholder => "感兴趣的内容或人...", :required => "required", :type => "search", name: 'q'}
  %input.sub{:type => "submit", :value => "go"}